.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
 
}

.title-input {
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}

.create-button-2,
.back-button {
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #d9dadc;
  cursor: pointer;
}

.create-button-2 {
  background-color: #007bff;
  color: white;
}

.create-button-2:hover{
  background-color: #08498f; 
}
.back-button {
  background-color: #007bff;
  color: white;
}
.back-button:hover{
  background-color: #08498f; 
}
